<html>
    <head>

    </head>
    <body>
        <p><center><h1>Blog Title</h1></center></p>
        <% for(var i=0; i<id.Sheet1.length;i++){ %>
            <a href ="/title/<%= i%>"> <%= id.Sheet1[i]['Serial Number']%></a>
            <br>
            

            
            <br>
        <% } %>

        
    </body>
</html>